.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px; /* TODO - Make rem */
  background: #000;
  color: #fff;
  box-sizing: border-box;
  border-bottom: 0.5px solid #fff;
}


@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px; /* TODO - make rem */
  }
}

.navbarOverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rbga(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

@media only screen and (min-width: 600px) {
  .navbarOverlay {
    display: none;
  }
}

.navbarOverlayOpen {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rbga(0, 0, 0, 0.5);
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
}

.navbarBurger {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 64px; /* TODO - make rem */
  height: 64px; /* TODO - make rem */
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbarBurger {
    display: none;
  }
}

.navbarTitle {
  margin: 0;
  font-size: 16px; /* TODO - make rem */
}

.navbarMenu {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  translate: 100% 0;
  width: 200px; /* TODO - make rem */
  height: 100%;
  padding: 20px; /* TODO - make rem */
  display: flex;
  gap: 8px; /* TODO - make rem */
  flex-direction: column;
  align-items: flex-start;
  background: #000;
  visibility: hidden;
  transition: translate 0.3s;
}

@media only screen and (min-width: 600px) {
  .navbarMenu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    align-items: center;
  }
}

.navbarMenuOpen {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  translate: -100% 0;
  width: 200px; /* TODO - make rem */
  height: 100%;
  padding: 20px; /* TODO - make rem */
  display: flex;
  gap: 8px; /* TODO - make rem */
  flex-direction: column;
  align-items: flex-start;
  background: #000;
  transition: translate 0.3s;
  translate: 0 0;
  visibility: visible;
  border-left: 0.5px solid #fff;
}

.navbarMenu > button {
  color: #fff;
  background: transparent;
  padding: 0 8px; /* TODO - make rem */
}

.icon {
  height: 50%;
  width: 50%;
}
